@charset "UTF-8";
h1 {
	font-size: 2.5em;
	color: #fff;
	text-shadow: 0px 0px 3px rgb(0, 0, 0, 1);	
	margin-bottom: 20px;
}

label {
	margin-bottom: 10px;
	color: #fff;
	text-shadow: 0px 0px 3px rgb(0, 0, 0, 1);
	font-weight: bold;
}

input, textarea, select {
	outline: none;
	background-color: rgb(22, 22, 22, 0.32);
	border: none;
	border-radius: 3px;
	padding: 8px;
	color: #fff;
}

input::placeholder , textarea::placeholder {
	color: #d9d9d9;
}

textarea {
	height: 100px;
}

.section-banner-form {
	height: 80vh;
}

.section-form {
	background-color: rgb(31, 97, 141, 0.8);
	box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.66);
	max-width: 900px;
	height: 100%;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
	padding: 30px;
}

.formulario {
	display: flex;
	flex-direction: column;
}

.form-item {
	display: flex;
	flex-direction: column;
	margin: 15px;
}

.campo-required {
	color: #ff3030;
	text-shadow: 0px 0px 3px rgb(0, 0, 0, 0.4);
	font-weight: normal;
}

.input {
	max-width: 500px;
}

.form-item-btn {
	display: flex;
	justify-content: flex-end;
}

.btn-form {
	margin: 20px;
}

.btn-form-enviar {
	background: #253981;
}

.btn-form-limpar {
	background: #535353;
}

.btn-form-enviar:hover {
	background: #2542a7;
}

.btn-form-limpar:hover {
	background: #636363;
}