@charset "UTF-8";
* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(to right, #c8faf8, #8afff0, #4bc6ff);
}

a {
	text-decoration: none;
}

.container {
	width: 90%;
}

.section-banner {
	position: relative;
	top: 80px;
	left: 0;
	height: 100vh;
}

.section-banner-home {
	height: 60vh;
}

.banner-img {
	position: fixed;
	top: 80px;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 45vh;
}

.section-content {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
}

.box-btn {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.box-btn-content {
	display: flex;
	justify-content: center;
}

.btn {
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	color: #fff;
	padding: 13px 20px;
	box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.43);
}

.btn-destinos {
	background: #1bb434;
}

.btn-destinos:hover {
	background: #16942b;
}
